[submodule "shakebot_perception"]
	path = shakebot_perception
	url = https://github.com/DREAMS-lab/shakebot_perception
[submodule "shakebot_motion"]
	path = shakebot_motion
	url = https://github.com/DREAMS-lab/shakebot_motion
